body{
    background-color: skyblue;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes slideIn{
    from {
        opacity: 0;
        translate: 0px;
      }
      to {
        opacity: 1;
        
      }
     
}
.image1{
    display: inline-block;
    animation: slideIn 2s;
    translate: 300px;
}
.image2{
    display: inline-block;
    animation: slideIn 2s;
    translate: 550px;
}

.image3{
    display: inline-block;
    animation: slideIn 2s;
    translate: 800px;
}
